# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create markdown cell with title of the notebook
*  Create a markdown cell for an introduction
* Create a markdown cell to list data science libraries

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R Studio
    3. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Seaborn

| Data Science Tools     |
|------------------------|
| Jupyter Notebooks      |
| RStudio                |
| VSCode (Visual Studio Code) |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. + 
2. -
3. *
4.  %

In [31]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [35]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Aurthor
Surya Prakash